.logo-light[data-v-d21f0c33]{display:block}.logo-dark[data-v-d21f0c33]{display:none}:root[data-theme=mitrekadark] .logo-light[data-v-d21f0c33]{display:none}:root[data-theme=mitrekadark] .logo-dark[data-v-d21f0c33]{display:block}
