.code[data-v-c3800157]{display:block;padding:.75rem 1rem;border-radius:var(--radius-box);background:var(--color-base-200);border:1px solid var(--color-base-300);overflow-x:auto;font-size:12.5px;line-height:1.5}
