.logo-light[data-v-236be54a]{display:block}.logo-dark[data-v-236be54a]{display:none}:root[data-theme=mitrekadark] .logo-light[data-v-236be54a]{display:none}:root[data-theme=mitrekadark] .logo-dark[data-v-236be54a]{display:block}
